@import "../../styles/variable.scss";

.faq {
  position: relative;
  width: 100%;
  min-height: calc(100vh - 221px);
  padding-top: 88px;
  align-items: center;

  &-decoration {
    &-navbar {
      position: absolute;
      width: 480px;
      height: auto;
      right: -180px;
      top: -360px;
      z-index: 0;
    }

    &-info {
      position: absolute;
      width: 160px;
      height: auto;
      left: -120px;
      top: 16px;
      z-index: 0;
    }
  }

  &-wrapper {
    position: relative;

    & > div {
      padding: 96px 0;
    }
  }

  &-main {
    width: 100%;
    grid-template: auto / 1fr 1fr;
    grid-column-gap: 24px;
    grid-row-gap: 16px;

    @media (max-width: 768px) {
      grid-template: auto / 1fr;
    }

    @media (max-width: 768px) {
      grid-column-gap: 16px;
      grid-row-gap: 16px;
    }

    &-title {
      width: 100%;
      margin-bottom: 16px;
      grid-column-start: 1;
      grid-column-end: 3;
      justify-content: space-between;
      column-gap: 24px;
      row-gap: 16px;
      flex-wrap: wrap;

      @media (max-width: 768px) {
        grid-column-end: 2;
      }

      & > h1 {
        color: $white;
        margin: 0;
      }

      &-category {
        width: 100%;

        & > button {
          color: $gray;
          border: none;
          padding: 12px 20px;
          border-radius: 8px;
          font-size: 14px;
          font-weight: 600;
          align-items: center;
          text-align: center;
          background-color: transparent;
          margin-right: 8px;
          cursor: pointer;
          transition: 0.3s;
        }
      }
    }
  }

  &-active {
    color: $white;
    box-shadow: inset 0 0 4px rgba($color: $green, $alpha: 0.4),
      0 4px 8px rgba($color: $green, $alpha: 0.2);
    background-color: rgba($color: $green, $alpha: 0.01);
    margin-right: 8px;

    &:hover {
      box-shadow: inset 0 0 4px rgba($color: $green, $alpha: 0.4),
        0 4px 16px rgba($color: $green, $alpha: 0.2);
    }

    &:active {
      box-shadow: inset 0 0 4px rgba($color: $green, $alpha: 0.4),
        0 4px 8px rgba($color: $green, $alpha: 0.2);
    }
  }
}
