@import "../../styles/variable.scss";

.farming {
  position: relative;
  width: 100%;
  min-height: calc(100vh - 221px);
  padding-top: 88px;
  align-items: center;

  &-decoration {
    &-navbar {
      position: absolute;
      width: 480px;
      height: auto;
      right: -180px;
      top: -360px;
      z-index: 0;
    }

    &-info {
      position: absolute;
      width: 160px;
      height: auto;
      left: -120px;
      top: 16px;
      z-index: 0;
    }
  }

  &-wrapper {
    & > div {
      &:first-of-type {
        padding: 48px 0;
      }

      &:last-of-type {
        padding: 48px 0 128px;
      }
    }
  }

  &-title {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    & > h1 {
      color: $white;
    }

    &-controls {
      align-items: center;
      flex-wrap: wrap;
      column-gap: 16px;
      row-gap: 8px;

      & > span {
        font-size: 14px;
        font-weight: 500;
        color: $gray;
      }

      &-selector {
        min-width: 144px;

        & > div {
          &:first-of-type {
            border: none;
            border-radius: 8px;
            background-color: rgba($color: $gray, $alpha: 0.2) !important;
            overflow: hidden;

            & > div {
              &:first-of-type {
                & > div:first-of-type {
                  color: $gray;
                  font-weight: 600;
                }
              }

              &:nth-child(2) {
                & > span {
                  background-color: transparent;
                }

                & > div {
                  color: $gray;
                }
              }
            }
          }

          &:last-of-type {
            background-color: $black;
          }
        }
      }

      &-buttons {
        padding: 2px;
        column-gap: 4px;

        & > button {
          align-items: center;
          text-align: center;
          border: none;
          background-color: transparent;
          font-size: 14px;
          font-weight: 600;
          padding: 6px 12px;
          color: $gray;
          transition: 0.3s;
          cursor: pointer;

          &:hover {
            box-shadow: inset 0 0 4px rgba($color: $gray, $alpha: 0.4),
              0 4px 16px rgba($color: $gray, $alpha: 0.2);
          }

          &:active {
            box-shadow: inset 0 0 4px rgba($color: $gray, $alpha: 0.4),
              0 4px 8px rgba($color: $gray, $alpha: 0.2);
          }

          &:not(:first-of-type) {
            margin-left: 8px;
          }
        }
      }
    }
  }

  &-pool {
    width: 100%;
    grid-template: auto / 1fr 1fr 1fr;
    grid-column-gap: 24px;
    grid-row-gap: 16px;

    @media (max-width: 1024px) {
      grid-template: auto / 1fr 1fr;
    }

    @media (max-width: 768px) {
      grid-template: auto / 1fr;
    }

    &-wrap {
      position: relative;
      padding: 16px;
      z-index: 2;

      &-statistics {
        width: 100%;
        align-items: center;
        justify-content: space-between;

        &:first-of-type {
          margin-bottom: -4px;
        }

        &:nth-child(2) {
          align-items: flex-end !important;
          margin-bottom: 24px;
        }

        & > .pair-info {
          align-items: center;

          & > svg {
            width: 24px;
            height: auto;
          }

          & > span {
            margin-left: 12px;
            color: $white;
            font-size: 14px;
            font-weight: 600;
          }
        }

        & > .apr {
          color: $gray;
          font-size: 12px;
          font-weight: 600;

          & > span {
            margin-left: 4px;
            color: $white;
          }
        }

        & > .multiplex {
          align-items: flex-end;

          & > svg {
            width: 24px;
            height: auto;
          }

          & > span {
            margin-left: 12px;
            color: $green;
            font-size: 10px;
            font-weight: 500;
            padding: 2px 4px;
            background-color: rgba($color: $green, $alpha: 0.1);
          }
        }

        & > .tvl {
          color: $gray;
          font-size: 12px;
          font-weight: 600;

          & > span {
            margin-left: 4px;
            color: $white;
          }
        }
      }

      & > p {
        color: $gray;
        font-size: 14px;
        font-weight: 500;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        padding: 12px 0;

        & > span {
          color: $white;
        }

        &:first-of-type {
          border-bottom: 1px solid rgba($color: $gray, $alpha: 0.2);
        }

        &:last-of-type {
          border-top: 1px solid rgba($color: $gray, $alpha: 0.2);
        }
      }

      &-info {
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding: 12px 0 0;
        color: $gray;
        font-size: 14px;
        font-weight: 500;

        &:nth-child(7) {
          padding: 12px 0;
        }

        & > span {
          color: $white;
          font-size: 24px;
          line-height: 1px;
        }
      }

      & > button {
        margin-top: 24px;
        color: $white;
        text-decoration: none;
        padding: 12px 20px;
        border-radius: 8px;
        font-size: 14px;
        font-weight: 600;
        align-items: center;
        text-align: center;
        cursor: pointer;
        border: none;
        background-image: linear-gradient(135deg, $green, $blue);
        box-shadow: inset 0 0 4px rgba($color: $green, $alpha: 0.4),
          0 4px 8px rgba($color: $green, $alpha: 0.2);
        transition: 0.3s;

        &:hover {
          box-shadow: inset 0 0 4px rgba($color: $green, $alpha: 0.4),
            0 4px 16px rgba($color: $green, $alpha: 0.2);
        }

        &:active {
          box-shadow: inset 0 0 4px rgba($color: $green, $alpha: 0.4),
            0 4px 8px rgba($color: $green, $alpha: 0.2);
        }
      }
    }
  }
}

.farming-active {
  color: $white !important;
  background-image: linear-gradient(135deg, $green, $blue);
  box-shadow: inset 0 0 4px rgba($color: $green, $alpha: 0.4),
    0 4px 8px rgba($color: $green, $alpha: 0.2);

  &:hover {
    box-shadow: inset 0 0 4px rgba($color: $green, $alpha: 0.4),
      0 4px 16px rgba($color: $green, $alpha: 0.2);
  }

  &:active {
    box-shadow: inset 0 0 4px rgba($color: $green, $alpha: 0.4),
      0 4px 8px rgba($color: $green, $alpha: 0.2);
  }
}
