@import "../../styles/variable.scss";

.alice-carousel {
  width: 130%;
  margin: 24px 0 0;

  @media (max-width: 1024px) {
    width: 100%;
  }

  &__wrapper {
    & li {
      padding: 0 16px;
    }
  }

  &__dots {
    margin-top: 8px;

    &-item {
      background-color: $gray !important;

      &:not(._custom).__active {
        background-color: $green !important;
      }
    }
  }
}

.carousel-image {
  width: 100%;
  height: auto;
  cursor: pointer;
}
